<div class="margin-bottom"></div>
<footer class="jumbotron">
	<div class="container-fluid footer text-center">
		<a href="#" class="no-border"><img src="{{site.url}}/images/logo.png" class="margin-bottom margin-top img-icon" alt="Logo"></a>
	{% include share.html %}
		<ul class="list-inline">
			<li>&copy; Plataforma de Encuentro por la Educación 2016</li><br>
			<li><a href="{{site.url}}/contacto">Contacta con nosotros</a></li><br>
			<li style="font-size:smaller;">Web: Oscar José Pellicer Valero</li>
		</ul>
	</div>
</footer>
