<header class="jumbotron header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-xs-12">
				<a href="{{site.url}}"><img class="limit-height img-responsive" src="{{site.url}}/images/logo.png"></a>
			</div>
			<div class="col-sm-9 col-xs-12">
		<h1>Plataforma de Encuentro por la Educación</h1>
			</div>
		</div>
	</div>
</header>
<nav class="navbar-default navbar-static-top">
<div class="container-fluid">
<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Navegación</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
		<a class="navbar-brand" href="{{site.url}}"><span><img src="{{site.url}}/images/logo.png" class="img-icon"></span></a>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
		<li><a href="{{site.url}}">Manifiesto</a></li>
		<li><a href="{{site.url}}/memoria/introduccion">Memoria</a></li>
		<li><a href="{{site.url}}/plataforma">La plataforma</a></li>
		<li><a href="{{site.url}}/nosotros">Quiénes somos</a></li>
		<li><a href="{{site.url}}/contacto">Contacto</a></li>
	</ul>
	</div>
	</div>
</nav>