<!--Check for subfolders-->
{% assign source_real={{include.source}} %}
{% if {{include.source}} contains '/' %}
	{% assign source_temp={{include.source | split:'/'}} %}
	{% capture source_thumb %}{{source_temp[0]}}/thumbs/{{source_temp[1]}} {%endcapture%}
{%else %}
	{% capture source_thumb %}thumbs/{{include.source}}{%endcapture%}
{% endif %}
<!--Picture-->
<a href="{{ site.baseurl }}/images/{{postfolder | trim}}{{source_real}}">
	<img src="{{ site.baseurl }}/images/{{source_thumb}}"  
		 class=" img
			{% if {{include.small}} contains 'yes' %}
				limit-height
			{% endif %}
			{% if {{include.position}} contains 'center' %}
				img-responsive center-block
			{% elsif {{include.position}} contains 'left' %}
				img-post pull-left
			{% else %}
				img-post pull-right
			{% endif %}
			{% if {{include.rounded}} contains 'yes' %}
				img-circle
			{% endif %}
				">
	</img>
</a>