<!--Inputs: exists (yes, no), description and id-->
<a href="#ref{{include.id}}" class="reference" data-toggle="collapse">(Referencia)</a>
<span id="ref{{include.id}}" class="collapse reference">
	{% if include.exists contains 'yes'%}
		{% assign referencias={{site.memoria-referencias | split:';'}} %}
		{% assign number= include.description | plus: 0 %}
		{% for referencia in referencias %}
			{% assign index= forloop.index | plus: 0 %}
			{% if index == number %}
				<span>{{referencia}}</span>
				{% break %} 
			{% endif %}
		{% endfor %}
	{% else %}
		<span>{{include.description}}</span>
	{% endif %}
</span>